{% extends "bootstrap/base.html" %}
{% block title %}
    {% if title %} {{ title }} - Fluid-Web
    {% else %} Welcome to Fluid-Web
    {% endif %}
{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='app.css')}}">
{% endblock %}

{% block navbar %}
    {{nav.mynavbar.render()}}
{% endblock %}

{# <html>
<head>
</head>
<body>
    <div>Fluid-Web:
        <a href="/home">Home</a>
        <a href="/settings">Settings</a>
        <a href="/connections">Connections</a>
        <a href="/patch_console">Patch Console</a>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
 #}