{% extends "base.html" %}

{% block content %}
    <h1>{{ splash_word }}!</h1>
    <!-- Tab links -->
    <div class="tab">
        <!-- <button class="tablinks" onclick="openMenu(event, 'Settings')">Settings</button> -->
        <!-- <button class="tablinks" onclick="openMenu(event, 'Patch')">Patch</button> -->
        <!-- <button class="tablinks" onclick="openMenu(event, 'Connections')">Connections</button> -->
    </div>

    <!-- Tab content -->
    <!-- <div id="Settings" class="tabcontent">
        <h3>Settings</h3>
        <p>Use this menu to configure Synth settings</p>
    </div> -->
    <!-- <div id="Patch" class="tabcontent">
        <h3>Patch</h3>
        <p>Use this menu to configure Synth soundfont and channels instruments</p>
    </div> -->
    <!-- <div id="Connections" class="tabcontent">
        <h3>Connections</h3>
        <p>Use this menu to configure Synth soundfont and channels instruments</p>
    </div> -->
{% endblock %}