{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h1>Patch</h1>
    <h2>Form</h2>
    <div>
        {{ wtf.quick_form(patch_form, action=url_for('patch'),
                            form_type='horizontal'
                        )}}
    </div>
    <h2>Current Patch</h2>
    <div>
        <table>
            <thead><tr><th>Channel</th><th>Soundfont</th><th>Instrument / Bank-Program</th></tr></thead>
            <tbody>
                {% for chan in patch_list %}
                <tr><td>{{ chan }}</td><td>{{ patch_list[chan][0] }}</td><td>{{ patch_list[chan][1] }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h2>Instrument Table</h2>
    <div>
        <p>{{ sf }}</p>
        {% include preset_table ignore missing %}
    </div>
{% endblock %}