{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <h1>Settings</h1>

    {{ wtf.quick_form(setting_form, action=url_for('set_setting'),
                        form_type='horizontal', horizontal_columns=('lg', 2, 10)
                    )}}

    {{ wtf.quick_form(clear_log_form, action=url_for('clear_settings_log'),
                        form_type='inline'
                    )}}
    {% for l in settings_log %}
        <p><i>> {{ l }}</i></p>
    {% endfor %}
{% endblock %}